
main {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template:
    'about result' auto
    'inputs result' auto 
    'preview result' 1fr
  / minmax(40ch, 1fr) 3fr
    ;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 10px #0003;
}

#inputs {
  grid-area: inputs;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  border: 1px solid #eee;
}

#image-preview {
  grid-area: preview;
  border: 1px solid #eee;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#result {
  grid-area: result;
  border: 1px solid #eee;
  height: 100%;
  overflow: auto;
}

#records :is(td, th) {
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-width: 0 1px 1px 0;
  font: 1rem/1 monospace;
}

pre {
  white-space: pre;
}